<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Products</h1>
<label>Enter name: </label>
<form th:action="@{/find}" method="get">
    <input type="text" th:name="inputFind">
    <button type="submit">Search</button><br><br>
</form>
<a th:href="@{/create}">Create product</a>
<br><br>
<table border="1">
    <tr>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product, iter: ${productList}" th:object="${product}">
        <td th:text="${iter.count}"></td>
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{price}"></td>
        <td><a th:href="@{/update/(id=*{id})}">Update</a></td>
        <td><a th:href="@{/delete/(id=*{id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>