<div class="row">
  <div class="col-1"></div>
  <div class="col-10 p-3 shadow shadow-lg rounded-3 my-5 bg-white">
    <div class="d-flex justify-content-between px-2 mb-3">
      <h3 class="mt-2 mb-3 py-2 text-secondary">GENERALS LIST</h3>
      <form [formGroup]="formSearch" (ngSubmit)="searchGenerals()" class="input-group w-25 h-25 m-auto flex-nowrap d-flex align-items-center" method="get">
        <input type="text" class="form-control" placeholder="Search" formControlName="nameSearch">
        <button type="submit" class="btn btn-success">Search</button>
      </form>
      <button style="border: none; background: none" routerLink="/generals/create"><i class="bi bi-plus-circle-fill fs-2 text-success"></i></button>
    </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Meeting Date</th>
        <th>Position</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of generals, index as i">
        <td>{{i + 1}}</td>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.meetingDate}}</td>
        <td>{{item.position.name}}</td>
        <td style="width: 150px">
          <button (click)="showEditPage(item.id)" class="btn btn-sm btn-warning me-2">Edit</button>
          <button (click)="infoDelete(item.id, item.name)" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE GENERALS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete generals <span class="text-danger fw-bold" id="delName"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="deleteGenerals(delId)" type="button" data-bs-dismiss="modal" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
