<div style="margin: 50px 200px" class="row bg-white shadow shadow-lg rounded-3 p-3 pb-5">
  <h3 class="mt-2 mb-3 py-2 text-secondary">THÊM MỚI HỢP ĐỒNG</h3>
  <div class="col-4 p-3">
    <div class="card mb-3">
      <img src="../assets/img/service/service1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PHÒNG STUDIO SUITE HƯỚNG BIỂN</h5>
        <p class="card-text"><small class="text-muted">Diện tích phòng: 40.1</small></p>
      </div>
    </div>
  </div>
  <div class="col-8">
    <form class="px-5" [formGroup]="">
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
