<header id="header" class="d-flex justify-content-between align-items-center px-5 bg-light">
    <div class="p-3 mx-3">
        <a href="/"><img class="w-25" src="../assets\img\logo\logo-header.png" alt=""></a>
    </div>
    <div class="d-flex p-3 mx-3 text-success fw-bold">
        LIÊN HỆ
    </div>
 </header>
<!--Nav-->
<ul class="nav px-5 py-3 bg-success">
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" aria-current="page" href="#">Giới thiệu</a>
  </li>
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" href="#">Loại dich vụ</a>
  </li>
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" href="#">Ẩm thực</a>
  </li>
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" href="#">Hội nghị & sự kiện</a>
  </li>
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" href="#">Giải trí</a>
  </li>
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" href="#">Điểm đến</a>
  </li>
</ul>
