<header id="header" class="d-flex justify-content-between align-items-center px-5 bg-white">
  <div class="p-3 mx-3 d-flex align-items-center">
    <img style="width: 15%" class="me-2" src="../assets/img/angular.png">
    <a routerLink="/" class="text-decoration-none text-success fw-bold fs-3">QUẢN LÝ LÔ HÀNG</a>
  </div>
  <div class="d-flex p-3 mx-3 text-success fw-bold">

  </div>
</header>
<!--Nav-->
<ul class="nav px-5 py-3 bg-success">
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" aria-current="page" href="/">TRANG CHỦ</a>
  </li>
  <li hidden class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" routerLink="generals/list" href="#">GENERALS</a>
  </li>
  <li class="nav-item px-2 text-uppercase fw-bold">
    <a class="nav-link text-white" routerLink="/lo-hang/list" href="#">LÔ HÀNG</a>
  </li>
</ul>
