<ul class="nav px-5 py-3 bg-success">
    <li class="nav-item px-2 text-uppercase fw-bold">
        <a class="nav-link text-white" aria-current="page" href="#">Giới thiệu</a>
    </li>
    <li class="nav-item px-2 text-uppercase fw-bold">
        <a class="nav-link text-white" href="#">Loại dich vụ</a>
    </li>
    <li class="nav-item px-2 text-uppercase fw-bold">
        <a class="nav-link text-white" href="#">Ẩm thực</a>
    </li>
    <li class="nav-item px-2 text-uppercase fw-bold">
        <a class="nav-link text-white" href="#">Hội nghị & sự kiện</a>
    </li>
    <li class="nav-item px-2 text-uppercase fw-bold">
        <a class="nav-link text-white" href="#">Giải trí</a>
    </li>
    <li class="nav-item px-2 text-uppercase fw-bold">
        <a class="nav-link text-white" href="#">Điểm đến</a>
    </li>
</ul>

<!-- Slider -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 500px;" src="../assets/img/slider/slider-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 500px;" src="../assets/img/slider/slider-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div  class="carousel-item">
        <img style="height: 500px;" src="../assets/img/slider/slider-3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>